[2013-07-04 22:34] SuitedSlime opened #1 "Block fix"
Here you go:
http://pastebin.com/eBg0FKi4

Couldn't submit a PR because of your dev environment not been compatible with mine.

[2013-07-05 14:46] hunterboerner commented on #1
This hasn't worked, still not rotating.

[2013-07-05 16:09] hunterboerner commented on #1
Fixed it!

[2013-07-05 16:09] #1 closed, assigned to nobody

[2013-07-12 02:10] hunterboerner opened #2 "MultiTool Rotation setup"
We need to complete the MultiTool setup.

[2013-07-12 02:11] hunterboerner opened #3 "Refactor using our own base classes"
We need to refactor our code so that we extend our own item base instead of just Item, that will allow us to not have to rewrite as much code.

[2013-07-12 21:33] hunterboerner opened #4 "Background Texture in QDE broken"

[2013-07-12 22:08] hunterboerner opened #5 "Drop items when you break the machine"

[2013-07-12 23:43] #4 closed, assigned to nobody

[2013-07-13 19:48] hunterboerner opened #6 "QDE needs internal buffer"
Currently the QDE is taking the energy out of the crystal even if it has nowhere to go. SHAME!

Edit (sammko): this will be implemented along with the energy system.

[2013-07-13 19:53] hunterboerner opened #7 "Design docs"
We need these ASAP

[2013-07-13 22:39] hunterboerner opened #8 "Quantum Dislocator"
Entangle 2 Blocks with the power of Quantum Energy. This results in an interesting phenomenom called the Quantum Dislocation. e.g. when the polarization of 1 photon changes, it will also change on the other entangled photon. The dislocator will replicate it, but it will happen with blocks and TileEntities in them

Assigned to sammko because I have no clue what this means.

**Edit:** You make locat

[2013-07-13 22:40] hunterboerner opened #9 "Quantum Wormhole Inducer"
Teleport? (still not planned well, LOW PRIORITY)

[2013-07-13 22:41] hunterboerner commented on #7
Updated to list the design docs :+1:

[2013-07-13 22:43] hunterboerner opened #10 "Energy Net"
Create the energy net for letting the machines share power.

[2013-07-14 15:12] hunterboerner opened #11 "Textures for mutlitool"

[2013-07-14 15:13] hunterboerner opened #12 "Textures for location card that has a location assigned to it (think ae patterns)"

[2013-07-14 15:15] hunterboerner opened #13 "New texture for QDeenergizer"
"BTW, i thiknk we need a new texture for the deenergizer cause everyone keeps telling me that it looks like a dual plate cooker" - sammko

[2013-07-14 15:16] hunterboerner opened #14 "Quantum Electrifier"
Allows you to convert Quantum Energy to BC and IC2 electricity.

[2013-07-14 15:17] hunterboerner opened #15 "Quantum De-Electrifier"
Allows you to convert IC2 and BC electricity into Quantum Energy

[2013-07-14 15:18] hunterboerner opened #16 "I.O.N Beam Generator"
Some sort of a laser (still not planned well, LOW PRIORITY)

[2013-07-14 15:22] hunterboerner opened #17 "Quantum De-Materializer"
Like an IC2 recycler but ENEERGY.

[2013-07-14 15:23] hunterboerner opened #18 "Quantum Materializer"
Convert Quantum Energy back to somthing like UU-Matter.

[2013-07-14 15:26] hunterboerner opened #19 "Quantum Tunnelling Anchor"
Disable Quantum Tunneling around this machine. Area should be configureable, energy usage will scale according to the area.

**do not do until tunnel inducer is done**

[2013-07-14 15:26] hunterboerner opened #20 "(Quantum?) Fusion Reactor"
Generate Quantum Energy from (unknown?) materials. (still not planned well, LOW PRIORITY)

[2013-07-14 15:29] hunterboerner opened #21 "Quantum Energy Injector"
Energize items with Quantum Energy.

[2013-07-14 15:36] hunterboerner opened #22 "Quantum Capacitor"
Used to store Quantum Energy

[2013-07-14 15:39] hunterboerner opened #23 "Quantum Tools (Pick, Shovel, Axe)"
Tools that use Quantum Energy to work
Crafting w/ Depleted c. - Discharged Tool
Crafting w/ Quantonium c. - Charged Tool

//NO HOE

[2013-07-14 15:40] hunterboerner opened #24 "Quantum Sword"
Sword that uses QE to work, will have special effects

[2013-07-14 15:49] hunterboerner opened #25 "Ore gen"
Get some genning of those ores

[2013-07-14 15:49] hunterboerner opened #26 "Crafting recipes"

[2013-07-14 16:02] #2 closed, assigned to hunterboerner

[2013-07-14 16:02] #3 closed, assigned to sammko

[2013-07-14 16:02] #5 closed, assigned to hunterboerner

[2013-07-15 13:14] #12 closed, assigned to sammko

[2013-07-15 13:15] sammko opened #27 "Location Card metadata in creative mode"
ItemStack.setItemDamage(int) doesnt seem to work in creative.

[2013-07-15 23:40] hunterboerner commented on #27
Why do we need to set the damage at all?

[2013-07-16 08:31] sammko commented on #27
For the texture. I didnt manage to get the ItemStack into a method that can change texture. i KNOW there are 2, but they only change the texture of the 3D item in your hand. so i did it with damage.

[2013-07-16 12:15] hunterboerner commented on #27
Store it in nbt, whether written or not. I mean, the data itself is already in nbt

[2013-07-16 15:09] sammko commented on #27
You cannot get the nbt without the itemstack
On Jul 16, 2013 2:15 PM, "Theron Boerner" notifications@github.com wrote:

[2013-07-16 16:58] #21 closed, assigned to sammko

[2013-07-17 14:08] sammko opened #28 "Packet for QEInjector."
PacketHandler doesnt wanna load packets for QEInjector.

[2013-07-17 14:11] sammko opened #29 "Textures for QEInejctor"

[2013-07-17 15:54] sammko opened #30 "New Quantonium Ore Texture"
its ugly as heck

[2013-07-18 00:31] hunterboerner commented on #28
Are they in the same class as the other init packets?

[2013-07-18 00:31] hunterboerner commented on #30
Which one? We have a lot of stuff with quantonium in the name.

[2013-07-18 06:57] sammko commented on #28
Why don't you look in the code?

[2013-07-18 06:59] sammko commented on #30
The ore, you can close this,he already made a texture. I cant close it from
email

[2013-07-18 23:25] #30 closed, assigned to nobody

[2013-07-19 03:00] hunterboerner opened #31 "Research System"
The research system needs to be done by the milestone stated above.

It will have different branches of research which each have their own special function.

see: qc_common/mods/quantumcraft/reserach/tree.txt

EDIT: I think we do not need it functional in 0.5. we will just implement the crafting recipes w/o research.
EDIT2: I am thinking this can be made a secondary feature. it wont be that hard t

[2013-07-19 03:04] hunterboerner commented on #28
Will take a look this weekend and hopefully resolve it by Sunday which is 0.3 deadline (moved things apart because we didn't have enough time to get it done.)

[2013-07-20 08:30] #7 closed, assigned to sammko

[2013-07-21 03:03] hunterboerner opened #32 "PITA Label?"
Why the heck do we have this as a label?

[2013-07-21 15:10] hunterboerner commented on #28
Nope, packet is being loaded.

[2013-07-21 15:10] #28 closed, assigned to hunterboerner

[2013-07-21 15:11] hunterboerner opened #33 "Texture for QEInjctor"

[2013-07-21 17:33] sammko commented on #28
Oh yeah it works now.. didnt before from some reason..

[2013-07-21 17:34] sammko commented on #33
Duplicate to #29

[2013-07-21 17:34] #33 closed, assigned to nobody

[2013-07-21 17:36] sammko commented on #32
If something is giving you trouble you mark it w/ that.

[2013-07-21 17:36] #32 closed, assigned to nobody

[2013-07-21 17:37] sammko commented on #32
(btw, i dont mean the food.)

[2013-07-21 20:39] sammko commented on #29
Ok, i did it myself and i really do like it :D

[2013-07-21 23:27] hunterboerner commented on #10
Fokas, get to work!

[2013-07-22 01:13] ghost commented on #29
I apologize for re-opening and such, but I won't be able to get on my computer for 1-2 days due to major harddisk issues. Just needed to let you know.

[2013-07-22 01:13] #29 closed, assigned to nobody

[2013-07-22 01:26] hunterboerner commented on #29
You don't need to re-open it.

[2013-07-22 01:29] hunterboerner commented on #6
I'm gunna add this soon.

[2013-07-22 02:14] LordFokas commented on #10
Calm down. I'll do it.
I agreed to do it to let you guys move faster, you don't get to boss me around.

[2013-07-22 07:30] sammko commented on #29
Yep, theres a just comment button

[2013-07-22 16:32] #8 closed, assigned to sammko

[2013-07-22 16:33] sammko opened #34 "Quantum Dislocator buggy as HELL"
http://www.youtube.com/watch?v=iC7jdQ5skSA
take a look.

When 2 chests are linked with the dislocator, one of the chests looses its texture. Also, the chest with no texture is no longer a valid inventory.

example: http://puu.sh/3O6ct.jpg

[2013-07-22 16:34] sammko opened #35 "Quantum Dislocator Texture"
Block + GUI texture.

[2013-07-22 17:26] ghost commented on #29
Okay

[2013-07-22 20:16] hunterboerner commented on #10
Closed... bam! Thanks @LordFokas

[2013-07-22 20:16] #10 closed, assigned to LordFokas

[2013-07-22 20:18] hunterboerner commented on #6
[7/22/13 3:17:57 PM] hunterboerner: can you quickly fix this https://github.com/QuantumCraft/QuantumCraft/issues/6
[7/22/13 3:18:22 PM] sammko: as i mentioned that will come while implementing the enet
[7/22/13 3:18:28 PM] hunterboerner: ok
[7/22/13 3:18:28 PM] sammko: which is tommorow

[2013-07-22 22:22] hunterboerner opened #36 "Quantum Energy Conversion Ratio"
We ned to decide on how much our energy is worth.
.
- [x] QC to IC2 energy
- [x] QC to BC energy

  And third, QC to UE energy
  Keep in mind that all this depends on the rarity of the ore because currently we only are getting power from there. The de-materilizer. #17

[2013-07-22 22:35] hunterboerner commented on #36
IC2 will be 1 IC2 for 2 QC
BC will be 1 BC for 5 QC

[2013-07-22 22:35] #36 closed, assigned to nobody

[2013-07-23 08:01] sammko commented on #34
Fixed most of the rendering bugs, however some are still present

[2013-07-24 15:12] #6 closed, assigned to sammko

[2013-07-24 23:41] hunterboerner commented on #34
Chest rotation
Furnace cooking changes the block ID causing it to clear their inventory
Will add more when I findz them

[2013-07-25 01:06] hunterboerner opened #37 "Quantum Fiber Rendering"
Let's make it look like a cable instead of just a normal block.

[2013-07-25 01:58] hunterboerner opened #38 "Quantum De-Materializer Texture"
Travis _may_ have gimp.

[2013-07-25 13:23] hunterboerner opened #39 "Dematerializer only decreases stack if sucessful :("
I made an uh-oh

[2013-07-25 14:52] #39 closed, assigned to hunterboerner

[2013-07-25 15:27] #17 closed, assigned to hunterboerner

[2013-07-25 16:43] ghost commented on #38
Even if I did, I don't have dropbox.
Plus my computer is going to get fixed the moment all my files are backed up (I got my external harddrive) and when my re-install disk comes in.

[2013-07-25 16:47] ghost commented on #38
Plus I don't have anywhere to save my image, as I am using my computer from a flash drive.

[2013-07-25 21:32] #11 closed, assigned to nobody

[2013-07-25 21:35] hunterboerner commented on #38
Partially done

[2013-07-25 22:16] #35 closed, assigned to nobody

[2013-07-25 22:16] #38 closed, assigned to nobody

[2013-07-26 13:55] hunterboerner commented on #14
Will focus on BC first due to IC2 having a lot of crappyness

[2013-07-26 13:55] hunterboerner commented on #15
Will focus on BC first due to IC2 having a lot of crappy ness

[2013-07-28 14:29] loudwhisper opened #40 "Quantonium Animal"
what if we had the quantum injector be used on a animal. it would have a 10% chance of working and either turn it into a mutant or a chunk of plutonium. and 90% chance of causing a super explosion. this is only an idea.

Edit: Changed the name to Quantonium Animal

[2013-07-28 14:33] hunterboerner commented on #40
Could you elaborate little bit more on the idea? It's unclear on what you mean.

[2013-07-28 16:00] hunterboerner commented on #27
@sammko
Could you for now change it over to ItemStack just so it works at least in survival. I will take a look into it in 0.5 or before 1.0

[2013-07-28 16:07] hunterboerner opened #41 "Debug in config"
Let's add a debug setting in the config so we don't have to get rid of the println() statements and if it DOES work but breaks eventually, we can easily turn them back on.

[2013-07-28 22:21] hunterboerner opened #42 "Build.xml packages buildcraft in it."
Fjidsijkljfhksdhfkjdshgkufjl;

[2013-07-28 22:51] thejereman13 opened #43 "Location Card Spelling"
The tool-tip on the Location Card has the words "blank" and "block" reversed. It would also be nice to spell out right click instead of abbreviating it.

[2013-07-28 22:53] hunterboerner commented on #43
What does it say currently?

On Sun, Jul 28, 2013 at 5:51 PM, thejereman13 notifications@github.comwrote:

##

Theron Boerner

## Theronsminecraft.com

[2013-07-28 22:54] thejereman13 commented on #43
"Shift r-click on a block Blank"

[2013-07-28 22:57] thejereman13 opened #44 "Add tooltips"
This is just a suggestion, but it would be nice to add tooltips to the energy bar on your machines saying how much energy is currently stored.

[2013-07-28 22:59] hunterboerner commented on #43
The blank means that there is no data on it. I'll fix that eventually.

On Sun, Jul 28, 2013 at 5:54 PM, thejereman13 notifications@github.comwrote:

##

Theron Boerner

## Theronsminecraft.com

[2013-07-28 22:59] hunterboerner commented on #44
Machines don't store energy when in the inventory.

On Sun, Jul 28, 2013 at 5:57 PM, thejereman13 notifications@github.comwrote:

##

Theron Boerner

## Theronsminecraft.com

[2013-07-28 22:59] thejereman13 opened #45 "Dislocator Error"
When one of two blocks linked by the qdislocator is broken, the other is broken, but doesn't drop anything.

[2013-07-28 23:01] thejereman13 opened #46 "qdislocator Texture Error"
When 2 chests are linked with the dislocator, one of the chests looses its texture. Also, the chest with no texture is no longer a valid inventory.

example: http://puu.sh/3O6ct.jpg

[2013-07-28 23:03] hunterboerner commented on #45
That's intended to prevent infinite items. When you modify one, the other copies the first. If you had both drop, you could just keep looping it.

[2013-07-28 23:03] #45 closed, assigned to nobody

[2013-07-28 23:03] thejereman13 commented on #44
I meant the energy bar in the GUI

[2013-07-28 23:03] hunterboerner commented on #43
You don't close it until it is fixed -_-

[2013-07-28 23:04] hunterboerner commented on #44
Yes, good idea

[2013-07-29 08:55] sammko commented on #34
Issue #46

[2013-07-29 09:30] sammko commented on #27
what?

[2013-07-29 12:38] hunterboerner commented on #27
Can you get it working for at least in survival and we'll deal with
creative later

On Mon, Jul 29, 2013 at 4:30 AM, sammko notifications@github.com wrote:

##

Theron Boerner

## Theronsminecraft.com

[2013-07-29 12:39] sammko commented on #27
It works in survival

[2013-07-29 13:05] sammko commented on #42
i dont think this matters, buildcraft doesnt get packaged into the artifact so i think we can leave it there.

[2013-07-29 13:05] #42 closed, assigned to hunterboerner

[2013-07-29 13:06] sammko commented on #44
there isnt really enough space in the gui, unless we manage to get the text to be vertical

[2013-07-29 13:28] hunterboerner commented on #42
Incorrect. It _did_ package it. Note that I recently added an exclude in the copy section.

[2013-07-29 13:29] hunterboerner commented on #44
He means tool tip as in when you hover over the power bar.

[2013-07-29 14:15] sammko commented on #44
oooh

[2013-07-29 14:16] sammko commented on #42
oh, well it doesnt anymore :P

[2013-07-29 15:10] hunterboerner commented on #42
that's.cause.I.fixed.it
On Jul 29, 2013 9:16 AM, "sammko" notifications@github.com wrote:

[2013-07-29 15:10] hunterboerner commented on #42
God cell phones
On Jul 29, 2013 10:10 AM, "Theron Boerner" hunterboerner@gmail.com wrote:

[2013-07-29 15:12] hunterboerner commented on #13
Who cares

[2013-07-29 15:12] #13 closed, assigned to hunterboerner

[2013-07-29 15:14] hunterboerner commented on #41
@sammko did you assign yourself?

[2013-07-29 15:15] sammko opened #47 "Energy Net Source List stuff"
When you place down an EnergySink and an EnergySource with a gap between, and then put an EnergyComponent in between it doesn update EnergySourceList in the Sink. I could fix this myself but i am afraid i would break it.

[2013-07-29 15:16] sammko commented on #41
yeah

[2013-07-29 15:16] sammko commented on #42
lol

[2013-07-29 15:17] hunterboerner commented on #47
i would break it too

[2013-07-29 18:48] sammko opened #48 "Quantum Sword + other tools"
We need to get some texturing up!

[2013-07-29 19:09] #24 closed, assigned to sammko

[2013-07-29 19:10] sammko opened #49 "Quantum Energy Extractor"

[2013-07-29 19:10] #49 closed, assigned to sammko

[2013-07-29 19:38] #23 closed, assigned to sammko

[2013-07-29 19:45] sammko opened #50 "Tool damage stuff."
After tools discharge, they currently break. instead of that we want them to become alot slower / weaker.

[2013-07-30 01:00] hunterboerner commented on #48
:)

[2013-07-30 01:18] hunterboerner commented on #41
This is just going to be fun!
:-)

[2013-07-30 01:20] hunterboerner commented on #18
**requires IC2 so we postponed it**

[2013-07-30 01:34] #40 closed, assigned to nobody

[2013-07-30 01:41] hunterboerner commented on #44
Reference for how to do this:

https://github.com/calclavia/Modular-Force-Field-System/blob/master/src/mffs/base/GuiMFFS.java

[2013-07-31 01:59] hunterboerner opened #51 "Plutonium Can't be an Ore"
We need to plan out how to fix this.

[2013-07-31 02:19] hunterboerner opened #52 "Quantum Hoe"
Travis wants to pimp

[2013-07-31 02:19] ghost commented on #52
yes

[2013-07-31 02:19] hunterboerner commented on #52
Just yes?

[2013-07-31 02:20] ghost commented on #52
yeah

[2013-07-31 02:20] ghost commented on #52
this is a good way to fill up inboxes

[2013-07-31 02:26] #48 closed, assigned to nobody

[2013-07-31 02:29] hunterboerner commented on #46
why is your health and food all over the place?

[2013-07-31 02:31] hunterboerner opened #53 "QEE and QEI have same front textures"
This is a lil confusing… @sammko @wtg62

[2013-07-31 02:50] thejereman13 commented on #46
It's a mod, I'll find the name and send you a link.

[2013-07-31 02:52] hunterboerner commented on #46
Ah, ok

[2013-07-31 02:52] hunterboerner commented on #46
Wait what, why would he have a mod installed for writing a mod if it's not needed?

[2013-07-31 06:45] sammko commented on #46
what?
i amp pretty sure he is not writing a mod

[2013-07-31 06:46] sammko commented on #53
yeah, i didnt have time so i did it like this

[2013-07-31 06:46] sammko commented on #52
we dont need a hoe.
no hoe.

[2013-07-31 06:49] sammko commented on #51
ehmm, uranium + quantum energy?

[2013-07-31 12:03] hunterboerner commented on #53
I know, we can still release 0.4.5 with it

[2013-07-31 12:04] hunterboerner commented on #52
Yeah well he wants to pimp.

[2013-07-31 12:04] hunterboerner commented on #51
Sure thing boss

[2013-07-31 13:30] sammko commented on #52
You know what, i think we can make a hoe that tills 5x5 square of dirt/grass unless its discharged.

[2013-07-31 13:59] sammko opened #54 "Dislocator has problems with IQEnergySink's NBT saving."
Crash.

java.lang.NullPointerException
at mods.quantumcraft.machine.abstractmachines.TileEnergySink.writeToNBT(TileEnergySink.java:72)
at mods.quantumcraft.machine.TileQEInjector.writeToNBT(TileQEInjector.java:226)

[2013-07-31 14:01] sammko commented on #54
oh, and it makes your world unusable.

[2013-07-31 14:08] sammko opened #55 "When you break the dislocator the block is duplicated"
after breaking the dislocator it doesnt modify either of the block, therefore you have double of what you had.

[2013-07-31 14:23] sammko opened #56 "Dislocator Buildcraft pipes problem"
java.lang.ArrayIndexOutOfBoundsException: 6
at buildcraft.transport.TileGenericPipe.isPipeConnected(TileGenericPipe.java:491)

[2013-07-31 14:23] hunterboerner commented on #55
Onblockbreak destroy one of them
On Jul 31, 2013 9:10 AM, "sammko" notifications@github.com wrote:

[2013-07-31 14:24] sammko commented on #55
yeah

[2013-07-31 17:22] ghost commented on #52
Thanks c:

[2013-07-31 21:31] ghost opened #57 "Even if plutonium could be an ore, it looks way too much like iron."

[2013-07-31 21:44] hunterboerner commented on #57
This should go under the plutonium cannot be obtained. Please no extra tickets.

[2013-07-31 21:44] #57 closed, assigned to nobody

[2013-07-31 21:49] hunterboerner opened #58 "QDE? QEE? We need a list!"

[2013-07-31 21:50] hunterboerner commented on #47
@LordFokas wake up.

[2013-07-31 21:51] hunterboerner commented on #58
I'm going to put this in the wiki too.

[2013-07-31 21:57] #53 closed, assigned to nobody

[2013-08-01 00:46] hunterboerner commented on #56
Um well this would be a problem.

[2013-08-01 01:06] hunterboerner commented on #58
Done
For us:  http://us.qc-mod.tk/index.php/Developement/Name_Database
For europe: http://eu.qc-mod.tk/index.php/Developement/Name_Database

[2013-08-01 01:07] #58 closed, assigned to hunterboerner

[2013-08-01 02:52] #43 closed, assigned to nobody

[2013-08-08 02:52] hunterboerner commented on #50
Would you mind telling us exactly we need to do as of now?

[2013-08-14 07:17] #27 closed, assigned to nobody

[2013-08-14 19:56] hunterboerner opened #59 "ItemEnergyUtils not changing damage value"
We don't need it but it would be nicer if we could use it.

[2013-08-14 20:02] hunterboerner opened #60 "Do we need ItemChargable?"
@sammko do we? It's not being used.

[2013-08-14 20:08] sammko commented on #60
I am pretty sure its used by the portable quantum capacitor

[2013-08-14 20:11] hunterboerner commented on #60
Ah, I only saw the constructer saying it wasn't being used. Ahhhh two constructers.

[2013-08-14 20:12] #60 closed, assigned to nobody

[2013-08-14 20:12] hunterboerner commented on #59
@sammko (I just want to get you in the email system)

[2013-08-14 20:48] sammko commented on #59
How is it bbroken? It works fine except the damage values

[2013-08-14 20:51] hunterboerner commented on #59
I see, since it doesn't render damage you don't know to charge it up and that was why I was confused.

[2013-08-14 20:55] sammko commented on #59
If you extend ItemChargable it shows 'QEU: cur/max' on the tooltip

[2013-08-14 20:57] hunterboerner commented on #59
I think we aren't using that because we want to just be able to extend something like ItemTool or ItemPickaxe

[2013-08-14 21:18] hunterboerner opened #61 "Why are we setting max damage of 32?"
Uh why. It seems pointless.

[2013-08-14 21:19] hunterboerner commented on #61
I'd rather have the damage display the power level.

[2013-08-14 21:25] sammko commented on #61
That's what it is for. If you look at ItemEnergyUtils.set damage, you n see
that it scales down the power level to 0-32

[2013-08-14 21:28] sammko commented on #61
Same thing that ic2 does but with a more normal number than 27

[2013-08-14 21:30] hunterboerner commented on #61
Either way it seems pointless so I'm removing it.

[2013-08-14 21:35] sammko commented on #61
Are you gonna set the maxdamaxe to maxenergyvalue?

[2013-08-14 21:41] hunterboerner commented on #61
Yes

[2013-08-14 22:23] hunterboerner opened #62 "Shift-clicking in guis"

[2013-08-14 22:24] #59 closed, assigned to hunterboerner

[2013-08-14 23:06] #50 closed, assigned to hunterboerner

[2013-08-14 23:06] #61 closed, assigned to hunterboerner

[2013-08-15 15:39] hunterboerner opened #63 "Damage bar in Quantum Energy Extractor and damage bar when charging an item in the injector (it works once full just WHILE it's charging)"

[2013-08-17 17:38] hunterboerner commented on #22
This is a block!

[2013-08-31 14:14] hunterboerner opened #64 "Dislocator power bar in gui"
The fancy power bar on the right

[2013-08-31 14:37] #63 closed, assigned to hunterboerner

[2013-08-31 14:40] hunterboerner opened #65 "QEE and QEI do not hold their charge on relog"
They lose power on relog.

[2013-08-31 16:04] #65 closed, assigned to nobody

[2013-08-31 19:32] hunterboerner commented on #46
Somewhat duplicate of #34
This will be added onto that.

[2013-08-31 19:32] #46 closed, assigned to sammko

[2013-09-01 00:56] #14 closed, assigned to hunterboerner

[2013-09-01 18:37] hunterboerner opened #66 "Textures for Quantum Electrifier"

[2013-09-01 18:42] sammko opened #67 "I.O.N Forge"
A furnace that runs on Quantum Energy. Should be fast, upgradable and maybe be able to process 2 items at the same time.

[2013-09-01 22:11] hunterboerner opened #68 "Subblocks so that we don't hog a ton of ids"
http://www.minecraftforge.net/wiki/Metadata_Based_Subblocks

[2013-09-01 22:13] hunterboerner opened #69 "Optimize TileQElectrifier redstone check"
Check for redstone signal less often to prevent lag.

[2013-09-02 14:28] #69 closed, assigned to hunterboerner

[2013-09-02 14:33] hunterboerner commented on #68
sammko said no

[2013-09-02 14:33] hunterboerner commented on #66
Travis, you never pushed the textures....

[2013-09-02 22:32] hunterboerner opened #70 "Different front texture for when the machine is active."
It would be nice to show a different texture when the machine is active. This shouldn't be too hard to implement and I think can be done fairly quickly. Leaving it without a milestone for now because this is just an idea.

[2013-09-02 22:33] hunterboerner commented on #67
Super epic version of the induction furnace! :+1: :cake: :cool:

[2013-09-02 22:35] hunterboerner commented on #67
I moved it to milestone 0.5 so that we can give people more than just power converters and a few tools.

[2013-09-03 05:23] sammko commented on #68
I said no cause i am not gonna be doing it; you can
On Sep 2, 2013 4:33 PM, "Theron Boerner" notifications@github.com wrote:

[2013-09-03 12:14] hunterboerner commented on #68
Ok, I'll reopen and not give it a milestone.

[2013-09-03 22:58] hunterboerner opened #71 "QFiberWire needs a TE"
Right now it is returning null and can crash the game.

[2013-09-04 06:49] sammko commented on #71
Why exactly does it need a TE? Our energy system is coded so that you don't really need TEs

[2013-09-04 12:20] hunterboerner commented on #71
It crash le game. I will get error report later.
On Sep 4, 2013 1:49 AM, "sammko" notifications@github.com wrote:

[2013-09-04 16:46] sammko commented on #71
we need to fix that, but it definitely doesnt need a TE.

[2013-09-04 20:07] hunterboerner opened #72 "REVERT FORGE UPDATE"
SAMMKO! BUILDCRAFT IS NOT UPDATED. HOW DID YOU NOT GET COMPILER ERRORS LOCALLY. WE CANNOT UPDATE IF OUR DEPENDANCIES DON'T SUPPORT THAT VERSION!

[2013-09-04 20:27] sammko commented on #72
BC is updated you dumbass. Just download the zip from their github
On Sep 4, 2013 10:07 PM, "Theron Boerner" notifications@github.com wrote:

[2013-09-04 20:31] sammko commented on #72
https://github.com/BuildCraft/BuildCraft/archive/master.zip

[2013-09-04 20:32] hunterboerner commented on #72
Not according to thier build script
On Sep 4, 2013 3:28 PM, "sammko" notifications@github.com wrote:

[2013-09-04 20:33] sammko commented on #72
Just DL the zip and stick it in there... it works for me

[2013-09-04 20:35] #72 closed, assigned to sammko

[2013-09-04 20:37] hunterboerner commented on #72
Why did you remove mods.?
On Sep 4, 2013 3:33 PM, "sammko" notifications@github.com wrote:

[2013-09-04 20:39] sammko commented on #72
It looked retarded IMO so I just moved quantumcraft into root
On Sep 4, 2013 10:37 PM, "Theron Boerner" notifications@github.com wrote:

[2013-09-04 20:47] hunterboerner commented on #72
#close
On Sep 4, 2013 3:39 PM, "sammko" notifications@github.com wrote:

[2013-09-05 02:17] hunterboerner opened #73 "Config option for beta blocks."
Config option to enable/disable the beta blocks.

[2013-09-06 01:55] #66 closed, assigned to nobody

[2013-09-06 01:56] hunterboerner opened #74 "Opening GUI troubles"
You can't be too close to the block to open the GUI. REALLY ANNOYING!

[2013-09-06 01:56] hunterboerner opened #75 "Quantum Energy Injector drops 4 upgrades!"
We can no haz free stuff.

[2013-09-06 01:57] hunterboerner opened #76 "Fancy GUIs for everything else"

[2013-09-06 05:14] sammko commented on #75
Oh, derp... I will fix ASAP

[2013-09-06 11:43] sammko commented on #74
Its cause of the weird foegeevents shit in machineblock. Easy to fix.. will do today

[2013-09-06 11:44] sammko commented on #76
Yep

[2013-09-08 13:45] hunterboerner commented on #75
This was fixed in a commit

[2013-09-08 13:45] #75 closed, assigned to sammko

[2013-09-09 06:30] sammko commented on #74
fixed

[2013-09-09 06:30] #74 closed, assigned to nobody

[2013-09-22 18:24] sammko commented on #44
this is being fixed with the new guis

[2013-09-22 18:24] #44 closed, assigned to hunterboerner

[2013-09-24 15:46] LordFokas commented on #47
The QuantumEnergyNet class has been fixed. Now it's up to you.
I won't mess with develop, so I don't break your stuff.

[2013-09-24 15:56] hunterboerner commented on #47
Updated label

[2013-09-24 16:32] hunterboerner opened #77 "Update to 1.6.4"

[2013-09-24 20:32] hunterboerner commented on #77
Also update buildcraft

[2013-09-24 21:39] hunterboerner opened #78 "new gui: some controls would be nice"
![derp](http://puu.sh/4zoFn.png)

[2013-09-24 21:44] #77 closed, assigned to nobody

[2013-09-24 22:00] #51 closed, assigned to nobody

[2013-09-24 22:03] hunterboerner opened #79 "New Unbioxenium (originally plutonium) texture"

[2013-09-29 18:39] sammko commented on #78
yes yes yes, i will have to get my workspace working and then i will focus on the GUIs some more

[2013-10-17 17:09] hunterboerner commented on #15
We're only doing BC power. Done!

[2013-10-17 17:09] #15 closed, assigned to hunterboerner

[2013-10-17 17:10] hunterboerner commented on #47
fixed in 289e522c90cf2f2407db71756b52ecb105f799ca

[2013-10-17 17:10] #47 closed, assigned to LordFokas

[2013-10-17 19:14] #78 closed, assigned to sammko

[2013-10-17 19:14] sammko commented on #79
i think we can use the same texture.

[2013-10-17 19:15] sammko commented on #76
this will take a long time tho.

[2013-10-17 19:15] hunterboerner commented on #79
Travis no like it

On Thu, Oct 17, 2013 at 2:14 PM, sammko notifications@github.com wrote:

##

## Theron Boerner

[2013-10-17 19:16] hunterboerner commented on #76
We need it to be consistent. Constant refactoring for faster developing is
what we're striving for. If we are able to get that correct then we will be
able to add a new GUI almost instantly.

On Thu, Oct 17, 2013 at 2:15 PM, sammko notifications@github.com wrote:

##

## Theron Boerner

[2013-10-18 12:26] sammko commented on #76
indeed

[2013-10-18 12:43] sammko commented on #70
/me agrees

[2013-10-18 13:01] hunterboerner commented on #70
/me wants new texture
On Oct 18, 2013 7:43 AM, "sammko" notifications@github.com wrote:

[2013-10-18 20:06] hunterboerner opened #80 "Revert crystal being charged"

[2013-10-19 17:09] sammko commented on #22
moving to 1.0, our current energy network doesnt support this.

[2013-10-19 17:09] sammko commented on #73
we're in beta currently therefore all the blocks are beta. moving to 1.0

[2013-10-19 17:10] hunterboerner commented on #22
It may be possible. The block would always require energy unless full or something else needs it, probably not though.

[2013-10-19 17:11] sammko commented on #22
nope. the problem is the block would request power from itself. we need to get fokas to fix that.

[2013-10-19 17:12] hunterboerner commented on #22
@LordFokas  :+1:

[2013-10-19 18:10] hunterboerner commented on #80
fixed in a8725b7f92cd5a34c25f872cdc9f94693d796ecb

[2013-10-19 18:10] #80 closed, assigned to hunterboerner

[2013-10-19 18:12] hunterboerner commented on #34
Moved to 1.0 because _if_ we merge with qcraft they will have something and this ain't important.

[2013-10-19 18:13] hunterboerner commented on #64
moving to where dislocator is

[2013-10-19 19:16] LordFokas commented on #22
It requires reworking a good part of the network, but shouldn't be anything serious.
I'll be available for it as soon as I stop being pissed at BC for forcing people to lose power.

[2013-10-23 18:05] sammko commented on #9
This could be merged with the computer from qCraft

[2013-10-23 18:06] sammko commented on #19
i think we can get rid of this would be interesting but a PITA to implement. could be overused on servers.

[2013-10-23 18:06] #19 closed, assigned to nobody

[2013-10-23 18:08] sammko commented on #64
the dislocator doesnt even use power ATM

[2013-10-23 18:35] hunterboerner opened #81 "Make dislocator a beta block"
Create config for beta blocks and make dislocator a beta block.

[2013-10-23 18:39] LordFokas commented on #71
@hunterboerner where's the report? or is this fixed?

[2013-10-23 18:41] hunterboerner commented on #71
Not fixed yet. Haven't gotten to it.

[2013-10-23 19:18] LordFokas opened #82 "Observer Effect"
Since this is QUANTUM Craft, and we do have machines who perform specific tasks over time, we should have an observer effect, where machines being observed work faster.

Do you want your machine to finish its work urgently? Stare at it.
The same way you do with your torrents, except it works.

( Someone should make a Quantum Torrent Client :P )

Of course, to avoid player entities staring at rooms

[2013-10-23 23:36] LordFokas opened #83 "String Theory on Quantonium Ore"
The ore block, on its base, is a stone block with a few tiny ore pieces in it.
In this case, the ore pieces are raw Quantonium, which does funny stuffs with Quantum Mechanics.

Its strings (go read on Strings Theory) change their vibration frequency regularly, fading in and out of phase.

In practice, the block changes metadata in irregular intervals, influencing the texture and drops. The two pos

[2013-10-24 21:34] #73 closed, assigned to hunterboerner

[2013-10-24 21:34] #81 closed, assigned to hunterboerner

[2013-10-24 21:37] hunterboerner commented on #71
Haven't been able to find that problem again and was most likely caused by something else. Closing unless someone reports it again.

[2013-10-24 21:37] #71 closed, assigned to nobody

[2013-10-28 19:23] hunterboerner opened #84 "Quantum De-electrifier texture!"
Just a texture that goes with the Electrifier's.

[2013-10-29 01:10] ghost commented on #84
Huh, I thought I already did this.

[2013-10-29 01:16] hunterboerner commented on #84
@wtg62 If you did, then you never sent it.

[2013-10-29 01:45] ghost commented on #84
@hunterboerner I have uploaded the new textures. Let me know if you need anything else.

[2013-10-29 01:58] hunterboerner commented on #84
Where the hell did you get QED? It's QDL.

[2013-10-29 17:25] #84 closed, assigned to nobody

[2013-10-29 19:46] LordFokas commented on #37
I can do that! Here, hold my beer for a second!

[2013-10-29 23:43] hunterboerner opened #85 "Textures"
Travis, check #67 if you need more info.

These are the textures we need:
- [x] ION Forge
- [x] Unbioxenium Ingot
- [x] Portable Capicator

We need ASAP. Before noon on sunday.

[2013-10-29 23:46] hunterboerner opened #86 "Refactor GUI code"
@sammko, please refactor the code for guiQEInjector and guiBase so that we can add new GUIs using the new system without much repetition.

[2013-10-30 08:30] sammko commented on #86
Yeah, I have that planned before adding new GUIs. I think I can manage that this week. The QEI GUI is still missing the upgrade system. (That's what the free space is for)

[2013-11-01 15:00] hunterboerner commented on #67
Just logging current errors

[code]

[2013-11-01 15:27] hunterboerner commented on #67
that error fixed, just had to register the TE

[2013-11-02 01:06] #68 closed, assigned to nobody

[2013-11-02 01:15] tehfrecklez opened #87 "Research book/ acheivments"
The mine quantonium and/ or the first one doesnt appear

[2013-11-02 02:52] hunterboerner commented on #87
Research book not done. Changed to a beta feature in later build. Ignore for now.

[2013-11-02 02:52] #87 closed, assigned to nobody

[2013-11-02 09:56] sammko commented on #87
The research code i put together is gonna be removed and done from scratch

[2013-11-02 12:39] sammko opened #88 "oreDictionary implementation"
I think the title says it all. If it doesn't, contact me via the comments preferably on this issue.

EDIT: You forgot a comma. That was an important comma.

EDIT: Sorry.

[2013-11-02 12:48] sammko commented on #26
Just started working on it

[2013-11-02 13:06] sammko opened #89 "Extractor dupe bug"
After processing an item in the extractor, manually pulling it out and breaking it, it will still drop the item on the ground.

[2013-11-02 13:33] hunterboerner commented on #89
Yeah, was told of that.

[2013-11-02 13:36] sammko commented on #86
I think we can postpone the new GUIs to a later milestone. The injector one can be a sneakpeek

[2013-11-02 14:19] sammko commented on #26
close yourself!

[2013-11-02 14:19] #26 closed, assigned to sammko

[2013-11-02 14:35] hunterboerner commented on #26
Lol fix'd

[2013-11-02 16:38] #25 closed, assigned to sammko

[2013-11-02 18:04] #89 closed, assigned to sammko

[2013-11-02 18:13] hunterboerner opened #90 "Why do we need this?"
@sammko why do we need this?

https://github.com/HeisenBugDev/QuantumCraft/blob/develop/qc_common/quantumcraft/tile/TileQDeenergizer.java#L140

[2013-11-02 18:55] sammko commented on #90
we dont most likely. you can get rid of it

[2013-11-02 18:55] #90 closed, assigned to nobody

[2013-11-03 19:29] #67 closed, assigned to hunterboerner

[2013-11-03 21:52] hunterboerner commented on #85
Portable Capicator is done!

[2013-11-04 18:15] sammko opened #91 "ION Forge full slot testing"
Check if the output slot is full, and only process when its not.

[2013-11-04 19:00] #91 closed, assigned to hunterboerner

[2013-11-04 19:09] hunterboerner opened #92 "ION Forge Inventory Dropping n Stuff"

[2013-11-05 17:56] hunterboerner commented on #92
seems to be fixed

[2013-11-05 17:56] #92 closed, assigned to hunterboerner

[2013-11-05 18:24] #85 closed, assigned to nobody

[2013-11-05 19:02] hunterboerner opened #93 "New UNI Ingot texture"

[2013-11-05 19:02] hunterboerner opened #94 "Change recipes to use our ingot instead of iron."

[2013-11-05 19:08] #93 closed, assigned to nobody

[2013-11-05 19:10] #94 closed, assigned to nobody

[2013-11-08 01:49] hunterboerner opened #95 "ION Forge Crafting!"

[2013-11-09 22:26] #37 closed, assigned to LordFokas

[2013-11-09 22:38] #95 closed, assigned to nobody

[2013-11-10 21:05] hunterboerner opened #96 "Extractor Recipe"

[2013-11-10 21:13] hunterboerner opened #97 "Mining System"
This is the ticket regarding the system that will be implemented in QuantumCraft that will allow one to collect ores in a multi-step process. The designs and plans regarding each of them will be here, however a ticket may be opened for each item to track the completion of that one object. All information and status updates that could concern decisions of how the system will work should be posted h

[2013-11-10 21:22] hunterboerner opened #98 "Quantum Fiber Wire REALLY slow to break."

[2013-11-10 22:24] #96 closed, assigned to sammko

[2013-11-10 23:42] #98 closed, assigned to nobody

[2013-11-10 23:45] hunterboerner commented on #88
Is there a reason we should? Nothing we have is going to be in other mods and is not important right now.

[2013-11-11 00:27] LordFokas commented on #22
Note to the implementor (probably me): Make the QuantumNet avoid setting a source location on the block in that location. This way machines will never request power from themselves, because they don't know they're a source on their network.

[2013-11-11 14:56] sammko commented on #97
Maybe the list of flagged ores would be stored in NBT of an item.

[2013-11-11 14:57] sammko commented on #18
0.6 Is gonna require IC2.
EDIT: NVM

[2013-11-11 14:58] sammko commented on #88
You never know
Lets just leave it open

[2013-11-11 17:21] hunterboerner commented on #88
simple http://www.minecraftforge.net/wiki/How_to_use_the_ore_dictionary

[2013-11-12 17:58] hunterboerner opened #99 "ION Tunneler"
It builds tunnels that can be used for mining and works with the rest of the mining system. See #97 for some info.

[2013-11-16 00:41] hunterboerner opened #100 "ION Tunneler Texture"
@wtg62, it is a machine that builds tunnels, each 3 blocks apart, no gui, no inv, just removes the block, each 50 long with a long strip connecting them all at the back and front.

[2013-11-16 00:42] #99 closed, assigned to hunterboerner

[2013-11-16 22:46] hunterboerner commented on #97
@sammko, on the comment about storing the ores in the NBT, that is similar to what I implemented with the #99 ION Tunneler. The way that it works is you have code that finds all the blocks you want to harvest/break once that code has found the block it then calls a method, passing it a Coords object. That method will add that object to an array list. There is then another method that is being call

[2013-11-17 00:00] hunterboerner opened #101 "Scheduling System"
See #97 for information.

[2013-11-17 02:09] hunterboerner opened #102 "ION Scanner"
See #97

[2013-11-17 18:10] hunterboerner commented on #97
If you look at some of the code in TileIONScanner.java as of 841b37b85a6f80a4df503e6b89eade8e7e5bb452, you can see:

[code]

This gets the string from the oreDict and we will check to see if it starts with "ore".

[2013-11-17 18:14] sammko commented on #97
Now that is the best idea ever. And there, that's a reason to add our stuff to oreDict :D

[2013-11-17 18:15] hunterboerner commented on #97
@sammko This is what I've been saying all along!

[2013-11-17 22:09] hunterboerner commented on #97
Take a look at this: 9738dfc12a63b7813f2bf12619eb3a3ae4ab0041. That will remove blocks that contain the string "ore" in their oreDict registry. This is all proof, so don't consider this to be what it will do in the end.

[2013-11-17 22:13] hunterboerner opened #103 "ION Tunneler Crafting"
Duh. see #97 and #99

[2013-11-17 22:34] hunterboerner commented on #97
More proof of concept http://youtu.be/Y0eMvjE9ILo

[2013-11-17 23:00] hunterboerner commented on #97
Idea! The scanner is scanning all the blocks... so... if it detects one of the miners, it will pass it what to mine! Just a single block at a time, all handled by the scheduler.

[2013-11-18 00:00] hunterboerner commented on #101
Closed as of 3afab74cba41d05a363c1f7b59672ac536d81b46

[2013-11-18 00:00] #101 closed, assigned to nobody

[2013-11-18 02:55] hunterboerner commented on #97
@sammko 1775635a92ed3defcc08d37f1c3e3038d52528b6 and 6ff3b2e4198e0d90ea416dc80775868fc05db4ab

[2013-11-18 08:12] sammko commented on #97
neat

[2013-11-18 14:18] hunterboerner opened #104 "Research System"
This stuff will be in the research book when it gets done.

We've got 2 axis in our research book don't we? that allows us to have 2 different ways we divide the features of the mod

The mod will be divided into multiple technologies which allow you to take advantage of different quantum phenomenons
y axis in the research book
    (example: ION technologies)
It will also be divided into multiple t

[2013-11-18 18:26] #102 closed, assigned to nobody

[2013-11-18 18:28] hunterboerner opened #105 "ION Harvester Distribution"
Currently it only uses 1 harvester and just counts the reset, we need to distribute it. See #97

[2013-11-18 18:29] hunterboerner opened #106 "ION Scanner and Harvester finishing"
Textures for both and crafting! Look at #97

[2013-11-18 22:21] #105 closed, assigned to nobody

[2013-11-18 23:04] hunterboerner commented on #97
Scanner uses 1 QEU per tick no matter what it's doing and the Harvester uses 5 QEU per block it mines.

[2013-11-18 23:23] #100 closed, assigned to nobody

[2013-11-18 23:32] #103 closed, assigned to nobody

[2013-11-18 23:41] hunterboerner commented on #88
It's in.

[2013-11-18 23:41] #88 closed, assigned to nobody

[2013-11-18 23:42] hunterboerner commented on #86
@sammko did you do this?

[2013-11-19 10:23] sammko commented on #86
Mostly, but there is one more thing I can do

[2013-11-19 10:26] sammko commented on #76
Extractor done. It has the same format as the injector cause it does basically the same thing and the GUI is just about the same. I was thinking about merging them anyways

[2013-11-19 11:02] sammko commented on #106
I will do the crafting, also will have to modify the crafting for ION Tunneler and the ION Forge. They should all contain the ION Core which will be a new crafting item. (maybe will have other uses)

[2013-11-19 13:34] hunterboerner commented on #106
Crafting is done. You can change it if you want. All I need is the harvester texture. Remember, the harvester  is meant to be fairly cheap because you need a LOT.

[2013-11-19 16:48] hunterboerner opened #107 "Dematerializer speed upgrades"
Duh

[2013-11-19 17:40] #106 closed, assigned to nobody

[2013-11-19 18:03] hunterboerner commented on #97
Done as of 0ea48ec770965327ea3b33f46fb1142ae7a4f01a

[2013-11-19 18:03] #97 closed, assigned to hunterboerner

[2013-11-19 18:55] hunterboerner opened #108 "Fufill power request but don't waste"
I have machine that can take 1 QEU, I request 100, it subtracts 100 from the system. NO!

[2013-11-19 22:37] #108 closed, assigned to nobody

[2013-11-19 23:23] #107 closed, assigned to nobody

[2013-11-20 00:42] #79 closed, assigned to nobody

[2013-11-20 02:25] hunterboerner opened #109 "Electrifier and De-electrifier energy net"
For some reason, if I put println(this.getCurrentEnergy()) it will go between the correct number and 0. The problem is that the energy net cannot take power from the de-electrifier.

[2013-11-20 02:52] #109 closed, assigned to nobody

[2013-11-20 13:28] sammko commented on #108
Oh someone finally did this. YAY

[2013-11-20 13:30] sammko commented on #86
Hmm, forget it

[2013-11-20 13:30] #86 closed, assigned to sammko

[2013-11-20 13:30] sammko commented on #64
Lets just get rid of this. the dislocator is halted anyways

[2013-11-20 13:30] #64 closed, assigned to nobody

[2013-11-20 13:39] hunterboerner commented on #86
Forgot\* and where are the other guis?
On Nov 20, 2013 7:30 AM, "sammko" notifications@github.com wrote:

[2013-11-20 13:41] hunterboerner commented on #76
Status update?

[2013-11-20 13:47] sammko commented on #86
no forget\* and there are no other GUIs than the extractor yet

[2013-11-21 03:07] #62 closed, assigned to sammko

[2013-11-21 06:16] sammko commented on #62
Come on, I was gonna do that...

[2013-11-21 12:45] hunterboerner commented on #62
Too slow.

[2013-11-21 16:23] sammko commented on #76
Closed w/ ce91fd281dd4f2779239229726fdfa319b2f616a

[2013-11-21 16:23] #76 closed, assigned to sammko

[2013-11-22 01:39] hunterboerner opened #110 "watson is awesome [qc_common/quantumcraft/core/Loader.java]"
**filename** : qc_common/quantumcraft/core/Loader.java
**line #** : 175
**tag** : feature
**md5** : 54ca9123c540c3e3af91dff786de0f44

[code]

[2013-11-22 01:39] hunterboerner opened #111 "be even more awesome [qc_common/quantumcraft/core/Loader.java]"
**filename** : qc_common/quantumcraft/core/Loader.java
**line #** : 176
**tag** : todo
**md5** : 4f10bb025ce0a147192ad5d9769c7383

[code]

[2013-11-22 01:40] #110 closed, assigned to nobody

[2013-11-22 01:40] #111 closed, assigned to nobody

[2013-11-22 01:42] hunterboerner opened #112 "understand watson [qc_common/quantumcraft/core/QuantumCraft.java]"
**filename** : qc_common/quantumcraft/core/QuantumCraft.java
**line #** : 22
**tag** : todo
**md5** : 5409f23c6c90cd7739d83481b1c65704

[code]

[2013-11-22 01:42] #112 closed, assigned to nobody

[2013-11-22 02:23] hunterboerner opened #113 "Texture for Quantum Capicators"
**filename** : qc_common/quantumcraft/core/blocks/BlockQCapacitor.java
**line #** : 30
**tag** : todo
**md5** : f8c361fcfc0568217315935b004f42a4

[code]

There are 5 levels of capacitors!

[2013-11-22 02:29] hunterboerner opened #114 "@sammko, is this needed? The textures are being controlled elsewhere. [qc_common/quantumcraft/core/Loader.java]"
**filename** : qc_common/quantumcraft/core/Loader.java
**line #** : 232
**tag** : bug
**md5** : f5affdbb39c0eff0524ee229f6b85862

[code]

[2013-11-22 17:02] sammko commented on #114
which part of it? .setTextureName(Config.getTextureName(Config.NameBlockIOH));

[2013-11-22 17:05] hunterboerner commented on #114
Yes. the texture

On Fri, Nov 22, 2013 at 11:02 AM, sammko notifications@github.com wrote:

##

## Theron Boerner

[2013-11-22 17:07] sammko commented on #114
theoretically, we do not need that there. but only for the machines

[2013-11-22 17:07] hunterboerner commented on #114
ok

On Fri, Nov 22, 2013 at 11:07 AM, sammko notifications@github.com wrote:

##

## Theron Boerner

[2013-11-22 17:09] #114 closed, assigned to nobody

[2013-11-22 23:11] hunterboerner commented on #113
@wtg62

[2013-11-22 23:53] hunterboerner opened #115 "Capacitor power bug"
The capacitor requires a good ol' energy net change before it will take in more than 100 QEU of power. I think it is finding itself on the blockPlacedBy call.

[2013-11-23 00:19] #115 closed, assigned to nobody

[2013-11-23 01:29] ghost commented on #113
What's this about?

[2013-11-23 01:36] hunterboerner commented on #113
The block is a big battery.

[2013-11-23 01:59] hunterboerner opened #116 "Icons for Quantum Capicator [qc_common/quantumcraft/blocks/BlockQCapacitor.java]"
**filename** : qc_common/quantumcraft/blocks/BlockQCapacitor.java
**line #** : 30
**tag** : todo
**md5** : 93924449f837f7e1abb0d2903f2532ed

[code]

[2013-11-23 01:59] hunterboerner opened #117 "QCapacitor GUI! NO INVENTORY! [qc_common/quantumcraft/core/ClientProxy.java]"
**filename** : qc_common/quantumcraft/core/ClientProxy.java
**line #** : 34
**tag** : todo
**md5** : 0971407580aae7250531f379516d146c

[code]

[2013-11-23 02:00] #116 closed, assigned to nobody

[2013-11-23 02:03] hunterboerner opened #118 "more stuff [qc_common/quantumcraft/core/ClientProxy.java]"
**filename** : qc_common/quantumcraft/core/ClientProxy.java
**line #** : 35
**tag** : todo
**md5** : 85ff06998a32922eb625ccbb902277c6

[code]

[2013-11-23 02:04] #118 closed, assigned to nobody

[2013-11-23 04:38] #117 closed, assigned to nobody

[2013-11-23 04:41] hunterboerner opened #119 "Quantum Dislocator"
This is now going to be the main ticket for the Dislocator. Having a bajillion random ones is annoying!

So...

http://www.youtube.com/watch?v=iC7jdQ5skSA
take a look.

When 2 chests are linked with the dislocator, one of the chests looses its texture. Also, the chest with no texture is no longer a valid inventory.
EDIT: Its not really a problem w/ the texture, but the TESR doesnt like having the

[2013-11-23 04:41] #34 closed, assigned to nobody

[2013-11-23 04:41] #54 closed, assigned to nobody

[2013-11-23 04:41] #55 closed, assigned to nobody

[2013-11-23 04:41] #56 closed, assigned to nobody

[2013-11-23 04:44] hunterboerner opened #120 "Waiting on a merge change"
For those "waiting on a merge" @LordFokas mostly. You don't create an issue! You create a pull request. You CAN do those within a repo and it does NOT have to be between forks. It's easy, github will say: you have pushed these branches, PR? You click that and do the buttons. We will then get it. NO MORE LABELS.

@sammko
@wtg62

[2013-11-23 04:44] #120 closed, assigned to nobody

[2013-11-24 11:24] sammko opened #121 "Why are we using SimpleInventory in TEs?"
I understand that there is a simple call to drop itemstacks on the ground, but it is inefficient, we use 2x more RAM for the inventories, and we have to modify both inventories all the time.
 2 solutions i can think of:
- Get rid of SimpleInventory and put a method into Utils that will drop an ItemStack[]
- Get rid of ItemStack[] and use SimpleInventory for everything

EDIT: one more option:
- Cre

[2013-11-24 11:56] sammko commented on #121
Get rid of SimpleInventory and put a method into Utils that will drop an ItemStack[]

this didnt work, trying the EDIT one now

[2013-11-24 11:57] sammko commented on #121
yes the EDIT one works fine. Now i need to change it in all the TEs

[2013-11-24 12:38] #121 closed, assigned to nobody

[2013-11-24 12:39] sammko commented on #22
Finished as of 74dab6a84423d6b8a256d7534f1ac2082eb3a400

[2013-11-24 12:40] sammko commented on #31
see #104

[2013-11-24 12:40] #31 closed, assigned to sammko

[2013-11-24 12:41] sammko commented on #119
i have an idea what could be done to fix some of this, but doing it will break a ton of other stuff

[2013-11-24 20:48] hunterboerner opened #122 "Refactor to super class [qc_common/quantumcraft/tile/TileQEInjector.java]"
**filename** : qc_common/quantumcraft/tile/TileQEInjector.java
**line #** : 22
**tag** : review
**md5** : 9c15e2a5b548ffd2ab899e0eca516d99

[code]

[2013-11-24 21:07] hunterboerner opened #123 "Is this needed? [qc_common/quantumcraft/tile/TileQEExtractor.java]"
**filename** : qc_common/quantumcraft/tile/TileQEExtractor.java
**line #** : 15
**tag** : review
**md5** : a237f80895576ee00077e76591663bbc

[code]

[2013-11-24 21:22] hunterboerner opened #124 "Capacitor recipe [qc_common/quantumcraft/core/CraftingManager.java]"
**filename** : qc_common/quantumcraft/core/CraftingManager.java
**line #** : 67
**tag** : todo
**md5** : ec04c704914370bca002115561ede353

[code]

[2013-11-25 03:45] hunterboerner commented on #18
@sammko, do you think we could do this in some other manner than requiring IC2.

[2013-11-25 03:46] hunterboerner opened #125 "Cleanup Steam Power Code"
This isn't Quantum. Remove all the "Steam" code @hunterboerner added in.

[2013-11-25 03:47] hunterboerner commented on #52
It's time for @wtg62 to pimp!

[2013-11-25 07:36] sammko commented on #123
i think its used in the gui

[2013-11-25 07:37] sammko commented on #123
wait no it isnt.... hmm does it throw any errors when you remove it?

[2013-11-25 07:37] sammko commented on #122
Yeah we need a TileUpgradable thing

[2013-11-25 23:04] hunterboerner opened #126 "test"

[2013-11-25 23:04] hunterboerner opened #127 "test2 WOw, amazing"

[2013-11-25 23:05] hunterboerner commented on #126
test test test

[2013-11-25 23:06] #126 closed, assigned to nobody

[2013-11-25 23:06] #127 closed, assigned to nobody

[2013-11-25 23:28] ghost commented on #52
YOU MADE IT?!
Awesome.
The texture is already done for it. (Was completed months ago)

[2013-11-25 23:50] hunterboerner commented on #52
No. I said I want to get you ready to pimp.

On Mon, Nov 25, 2013 at 5:28 PM, wtg62 notifications@github.com wrote:

##

## Theron Boerner

[2013-11-26 00:34] #122 closed, assigned to nobody

[2013-11-26 12:34] LordFokas commented on #22
Probably not. Hook 2 capacitors together, feed one of them. Energy will probably loop between them.
They need to be sided.

[2013-11-26 12:38] LordFokas commented on #120
Yes, I do that within my own repos.
I was writing code to help you out, and left _all_ the code management to you (the code's there, do whatever you want with it) mainly because you freak out over irrelevant stuff, just like above.

[2013-11-26 13:13] sammko commented on #22
that is ture

[2013-11-28 01:24] #123 closed, assigned to nobody

[2013-11-28 01:25] hunterboerner commented on #52
@wtg62 I think about 9001 other mods have this. You can go pimp using that hoe.

[2013-11-28 01:25] #52 closed, assigned to nobody

[2013-11-28 01:53] hunterboerner opened #128 "Icons for Quantum Capicator [src/main/java/quantumcraft/blocks/BlockQCapacitor.java]"
**filename** : src/main/java/quantumcraft/blocks/BlockQCapacitor.java
**line #** : 30
**tag** : todo
**md5** : 1cef6c9d450a42e65d636112b73d45af

[code]

[2013-11-28 01:53] hunterboerner opened #129 "Capacitor recipe [src/main/java/quantumcraft/core/CraftingManager.java]"
**filename** : src/main/java/quantumcraft/core/CraftingManager.java
**line #** : 67
**tag** : todo
**md5** : 7d95920968f6b8afa51f24dd80980580

[code]

[2013-11-28 01:53] hunterboerner opened #130 "Why do we need all these? [src/main/java/quantumcraft/tile/TileQCapacitor.java]"
**filename** : src/main/java/quantumcraft/tile/TileQCapacitor.java
**line #** : 46
**tag** : review
**md5** : 50d50af0067a1d44e49bff2247266b23

[code]

[2013-11-28 01:53] #128 closed, assigned to nobody

[2013-11-28 01:53] #129 closed, assigned to nobody

[2013-11-28 05:22] #41 closed, assigned to sammko

[2013-11-28 05:23] hunterboerner commented on #41
This isn't something that's "done" but I got all that we really have for now done.

[2013-11-28 05:31] hunterboerner opened #131 "Brainstorming"
Here is a ticket for brainstorming ideas. Anything can be included in this discussion not just "features". Dev changes and code changes are great but the most important things are uses for power.

Whee tags! @HeisenBugDev

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1961400-brainstorming?utm_campaign=plugin&utm_content=tra

[2013-11-28 13:44] sammko commented on #130
if you only had the first one, there would be a chance of it not filling up 100% cause it would only be able to receive packets of that size. if you only had the last one, it would be slow as hell. this method ensures speed and precision :D

[2013-11-28 13:44] #130 closed, assigned to nobody

[2013-11-28 15:19] hunterboerner commented on #130
No, the request packet will give you the most it can have if you request more than it has space for. Look where it's defined.

[2013-11-28 17:50] hunterboerner commented on #22
We need to fix that loop

[2013-11-29 22:19] hunterboerner opened #132 "Crash with #282 build"
This is the log:

[code]

[2013-11-29 22:34] hunterboerner commented on #132
Fixed in f0bca9ca324f0fb2d8396a8436f6ae19e5a93f45 which is build #283

[2013-11-30 20:52] ghost commented on #52
fffuuuuuuuuuu

[2013-12-01 22:51] #132 closed, assigned to nobody

[2013-12-02 01:12] hunterboerner opened #133 "Redstone controls"
Control machines with red of stone.

[2013-12-02 01:44] hunterboerner opened #134 "FluidSteam Texture"
EDIT: I derp in ghi

@wtg62 get the texture ready

@sammko or @hunterboerner get that implemented.

[2013-12-02 02:26] hunterboerner commented on #134
A wild steam.png appears:

![steam](https://f.cloud.github.com/assets/1314119/1651928/19f40e32-5af9-11e3-92c9-fb71ab55d585.png)

[2013-12-02 07:16] sammko commented on #134
hmm? do we have to add our own steam?

[2013-12-02 07:19] sammko commented on #130
oh well then, i made that cleverly :D

[2013-12-03 17:37] hunterboerner opened #135 "Refactor containers"
We need to refactor the code in the containers. It is currently very inefficient due to a lot of duplication. FIX IT!

[2013-12-03 17:46] hunterboerner opened #136 "Refactor handlerHover"
in the guis there is

[code]

We don't need that to be duplicated. Have it once in the base!

[2013-12-03 17:53] hunterboerner opened #137 "decrStackSize refactor"
Look in TileSteamGenerator, this should be a function in a separate class rather than a method.

[code]

[2013-12-03 17:56] hunterboerner commented on #9
Noap!

[2013-12-03 17:57] hunterboerner commented on #82
This will most likely be annoying to use and problematic to code. Unless someone wants to do this themselves (@LordFokas?) then I am closing this.

[2013-12-03 17:59] hunterboerner commented on #113
@wtg62 I am going to check on the mc forums for another texture artist to help you out.

[2013-12-03 18:03] #133 closed, assigned to nobody

[2013-12-03 18:04] hunterboerner opened #138 "Redstone controls in GUI"
Some controls for redstone in gui. Either run when signal, run when no signal, or disable.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1961399-redstone-controls-in-gui?utm_campaign=plugin&utm_content=tracker%2F1094508&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_ca

[2013-12-03 18:07] hunterboerner commented on #22
@LordFokas do you know how to fix this?

[2013-12-03 18:16] hunterboerner commented on #16
Nobody has touched in 5 months, therefore not worth implementing

[2013-12-03 18:16] hunterboerner commented on #20
Nope, too old

[2013-12-04 17:12] hunterboerner commented on #137
This is done, once it is merged to dev it will be closed.

[2013-12-04 17:18] hunterboerner opened #139 "Never used TextHandler"
[code]

[2013-12-04 17:20] sammko commented on #139
so what? just leave it there. if we ever decide to use it, its there

[2013-12-04 17:20] #139 closed, assigned to sammko

[2013-12-04 17:21] sammko commented on #20
what is your problem? I thought i was planning the mod's features

[2013-12-04 17:21] sammko commented on #20
i still got ideas for this

[2013-12-04 17:21] sammko commented on #16
false

[2013-12-04 17:22] hunterboerner commented on #20
If you have ideas, you should put them in here rather than letting it sit forever

[2013-12-04 17:22] hunterboerner commented on #16
Put what you think this should do rather than letting it sit.

[2013-12-04 17:24] hunterboerner opened #140 "Refactor handleClick"
This needs to be moved down to GuiBase

[code]

[2013-12-04 17:25] sammko commented on #20
I will when i make it more clear, it is still not planned well as the OP stated, and maybe asking if you can close feature issues that are little bit older may help for your in-team reputation -.-

[2013-12-04 17:27] sammko commented on #9
What is your problem? closing issues like retarded. We will be left with no feature issues. Is that what you want? not add any more features? cause i dont have a problem with getting a new dev

[2013-12-04 17:28] hunterboerner commented on #9
"This could be merged with the computer from qCraft"

It's there, we don't need to reinvent the wheel.

[2013-12-04 17:28] sammko commented on #82
i know it will be problematic to code but who cares? We can do it

[2013-12-04 17:29] hunterboerner commented on #82
The problem I see is that it will be highly glitchy as qcraft is already having problems with stuttering.

[2013-12-04 17:29] sammko commented on #9
Yes, but our can do other stuff. teleport entities and a lot of other stuff

[2013-12-04 17:36] sammko commented on #82
We can make it so that the GUI has to be open for it to run faster. Thats just a few packets and it should work. Maybe even a player count indicator in the GUI

[2013-12-04 17:37] hunterboerner commented on #82
Sounds reasonable. Can you do the code part of this: https://github.com/HeisenBugDev/QuantumCraft/issues/134?

[2013-12-04 17:43] hunterboerner opened #141 "Gradle switch"
_Can you run any other mods in workspace?_

Yes, you can. All you need is a deobf jar and then put it in ./libs. I created the buildcraft one because it was being a derp and is ready to go. If you want to run stargatetech you will have to ask him for one or use bon (I did that for BC). AbrarSyed showed me this: https://github.com/SlimeKnights/TinkersConstruct/blob/gradle/build.gradle which automat

[2013-12-04 18:31] #137 closed, assigned to hunterboerner

[2013-12-04 18:31] #136 closed, assigned to hunterboerner

[2013-12-04 18:33] #140 closed, assigned to nobody

[2013-12-05 00:06] #141 closed, assigned to nobody

[2013-12-05 00:36] #135 closed, assigned to hunterboerner

[2013-12-07 20:08] hunterboerner opened #142 "Tiered Capacitors?"
Is this something we want? If so, I can start on it.

[2013-12-08 15:57] hunterboerner commented on #142
If you look in https://github.com/HeisenBugDev/QuantumCraft/tree/feature/142-Tiered-capacitors, you can see some basic work on it. That's really just the basic idea, there is a lot more work needing to be done.

[2013-12-08 16:59] hunterboerner opened #145 "Upgrade system"
We need to get this done soon...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1961398-upgrade-system?utm_campaign=plugin&utm_content=tracker%2F1094508&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F1094508&utm_medium=issues&utm_so

[2013-12-08 20:45] #22 closed, assigned to sammko

[2013-12-09 14:29] hunterboerner commented on #142
Code is done, just textures.

[2013-12-09 19:49] #142 closed, assigned to nobody

[2013-12-09 19:49] hunterboerner commented on #113
We need textures for 5 levels of capacitors!

[2013-12-10 18:52] #113 closed, assigned to nobody

[2013-12-10 20:26] hunterboerner opened #146 "Multipart"
Fiber wire multipart? Yes please.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1961397-multipart?utm_campaign=plugin&utm_content=tracker%2F1094508&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F1094508&utm_medium=issues&utm_source

[2013-12-11 01:08] #134 closed, assigned to nobody

[2013-12-11 02:10] #124 closed, assigned to nobody

[2013-12-19 00:50] hunterboerner opened #147 "Unbioxenium balance issue"
A lot of recipes use things like the hyper conductor which requires 8 unbioxenium per item. Unb does not spawn very much and will be too hard to get as is. I think we should make it more common.

[2013-12-20 16:05] hunterboerner opened #148 "Scanner INCREDIBLY INEFFICENT"
We need to scan over time rather than in a short period of time.

[2013-12-20 16:16] hunterboerner opened #149 "Deenergizer no work with itemducts"

[2013-12-20 16:34] hunterboerner opened #150 "TE3 Support"
Electrifier needs to support RF and optionally (I say optional because it will auto transform to BC) the de-electrifier.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1961396-te3-support?utm_campaign=plugin&utm_content=tracker%2F1094508&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountys

[2013-12-21 04:25] hunterboerner opened #151 "Capacitor no inv to nbt"
Capacitors have no inv being saved to nbt so any items put in the power area go away

[2013-12-21 04:53] #147 closed, assigned to nobody

[2013-12-21 16:27] hunterboerner commented on #149
[code]

[2013-12-21 16:31] hunterboerner commented on #149
Tested in singleplayer with te3 and it seemed to work fine...

[2013-12-21 16:32] hunterboerner opened #152 "Upgrade Tool"
The current way of handling upgrades is really bad, get a new item!

[2013-12-21 18:55] #148 closed, assigned to nobody

[2013-12-21 18:57] hunterboerner commented on #149
@sammko, please test this outside of a dev env using the latest dev build and also with the 1.6 ftb dw20 pack which I noticed the bug on.

[2013-12-21 19:04] hunterboerner opened #153 "Refactor GUIs"
GUI code is still a mess. There is TONS of duplication everywhere. Anything that is duplicated should be moved to the base class. Sammko, can you please stop copy-pasting stuff... :angry: :rage:

[2013-12-21 19:12] hunterboerner opened #154 "Balancing"
Things just aren't balanced and we need to fix that. This ticket will be used for figuring out the ratios, quantities, and other stuff that either makes the mod too hard or too OP (Over Powered for the n00bs).

TODO:
 - ~~Tools use 50 power per block mined and make energy buffer 10x~~

## Power Conversion

Other mods power conversions:

10 RF => 1 MJ (BC)

Let's start with the basics. The system d

[2013-12-21 19:17] sammko commented on #153
I can consider copy pasting stuff

[2013-12-21 19:18] sammko commented on #153
Consider stopping that is

[2013-12-21 19:19] hunterboerner commented on #153
Yeah... copy-paste = bad. Don't do it. Plz can I haz refaktor?

[2013-12-22 06:44] 540howdy opened #155 "List of Bugs/Requests/Things"
So far the mod is pretty fun

### Bugs

- ~~Tried right clicking one of the quantumcraft wires with your special wrench and it crashed Log: http://pastebin.com/gfBcE3UQ~~

- ~~Generator is missing the fancy green charging bar. It's empty, but it seems reasonable that once the generator is full this bar should also be full.~~

- ~~Wires take forever to take with picks, unless they're supposed to be

[2013-12-22 06:47] hunterboerner commented on #155
For the generator, do you mean steam gen?

[2013-12-22 06:52] hunterboerner commented on #155
@540howdy, I just pushed a fix, can you test with the latest build?

[2013-12-22 19:02] 540howdy commented on #155
@hunterboerner Testing out 344 right now

[2013-12-22 20:51] hunterboerner commented on #155
@540howdy status update?

[2013-12-22 21:01] 540howdy commented on #155
@hunterboerner Oh, hah I updated the original post. None of the GUI's are opening for me on a NEI + Quantumcraft world nor on a 100+modpack world

[2013-12-22 21:07] sammko commented on #155
Can I be informed why we have a te variable on L50 and another one on L54 just initialized in a different way?

[2013-12-22 21:12] hunterboerner commented on #155
Err.. it shouldn't make a difference but the second will return null if it's NOT an instance of TileMachineBase which will prevent casting errors if we happen to init a non TileMachineBase te in the block. <= I hope that makes sense

[2013-12-22 21:13] sammko commented on #155
Yes it does make sense, but then why don't you get rid of the one on L50 and replace it w/ the one from L54 decreasing RAM usage and making it generally more efficient

[2013-12-22 21:16] hunterboerner commented on #155
https://github.com/HeisenBugDev/QuantumCraft/blob/feature/146-multipart/src/main/java/quantumcraft/blocks/abstractblocks/BlockMachine.java#L74

If I do that then we can't have a tile that is IUpgradable but NOT TileMachineBase. I could do a check to see if te is instance of TileMachineBase but that may not be much more efficent.

[2013-12-22 21:17] sammko commented on #155
ugh... that onBlockActivated method is like the worst thing in our entire mod... and its broken 50% of the time

[2013-12-22 21:18] hunterboerner commented on #155
@sammko, hasn't broken for me.

[2013-12-22 21:36] hunterboerner commented on #155
@540howdy, do you know what build you first tested on?

[2013-12-22 21:45] hunterboerner commented on #155
@540howdy, I found the problem. By changing the modid to get it to work with qCraft, it broke guis and a few other things so reverting and no qCraft + quantumcraft for a while.

[2013-12-22 21:54] 540howdy commented on #155
@hunterboerner 344, didn't realize there was a 345 out. So 344 has the broken GUI bug, but 345 fixes it. I'll look for more bugs/things in this patch then.

[2013-12-22 21:55] hunterboerner commented on #155
@540howdy, yeah, just released that. You won't be able to run qCraft and QuantumCraft though.

EDIT: Thanks for the help.

[2013-12-22 21:57] hunterboerner opened #156 "Location & Coords"
Are these essentially duplicates? Can we clean that up?

[2013-12-22 22:12] 540howdy commented on #155
No problem. Hmm

The Quantum-Multitool works now, can shift click wires to break. Nice

EDIT by @hunterboerner: Moved thing to the OP.

[2013-12-22 22:29] hunterboerner commented on #155
@540howdy, for number 3: It is. The Capacitors have Inject/Extract slots and the reason we kept those two machines in is for automation.

[2013-12-23 04:48] hunterboerner commented on #155
@540howdy, do you have any ideas for new features that would be creative?

[2013-12-23 12:26] sammko commented on #152
we could do something like logistics pipes have

[2013-12-23 16:21] 540howdy commented on #155
@hunterboerner I feel like the best step forward for this mod is to have someone (possibly you) research into Quantum Mechanics and revolve the mod around the theory of Quantum Mechanics. Qcraft takes this idea in a very simple form, and does not offer a tier of tech related ideas related to Quantum Mechanics. So far, Thermal Expansion offers a very sleek way of playing. It's an easy to climb mod.

[2013-12-23 16:33] sammko commented on #155
I actually came up with this mod, and about the research into Quantum mechanics, the dislocator is based on the principle of Quantum dislocation / entanglement. Entanglement originally works with eg. polarization of photons, but i mirrored it on blocks in minecraft.

[2013-12-23 16:34] sammko commented on #155
Next, thanks to @LordFokas, we are planning to implement the observer effect ( #82 ) and String theory ( #83 )

[2013-12-23 16:36] sammko commented on #155
Also quantum tunnelling is reserved for the Quantum Wormhole Inducer ( #9 )

[2013-12-23 16:40] hunterboerner commented on #155
Any ideas (less vague) for something you feel is missing?

[2013-12-23 16:41] 540howdy commented on #155
@sammko That goes to show you how little I know about this. A bunch of mods have a "Getting Started" guidebook. Maybe one for this mod too that briefly explains quantum mechanics and what each block does. I was talking more about the generator/furnace. Smelting a crystal found in the ground that then can be used for fuel to power a furnace is kinda odd, it feels out of place. But the tunneling is

[2013-12-23 16:42] hunterboerner commented on #155
@540howdy, you mean the Getting Started page? http://heisenbugdev.com/wiki/a_meta/guide

[2013-12-23 16:43] sammko commented on #155
Yeah we could implement that in-game

[2013-12-23 16:44] sammko commented on #155
We should also somehow get superposition going

[2013-12-23 16:45] 540howdy commented on #155
@hunterboerner Yeah but in game. It's a simple feature, but could go a long way. + a bit of information about quantum mechanics

[2013-12-23 16:47] sammko commented on #155
The dislocator is actually mis-named, we should rename it to entangler or something becuase back then i had quantum nonlocality and entanglement messed up

[2013-12-23 16:55] sammko commented on #155
This is a list of Quantum fundamental concepts (thanks to wikipedia)
-    Complementarity - no idea what it is
-    Decoherence - no idea what it is
-    Entanglement - Dislocator (should be renamed)
-    Nonlocality - doing research ATM
-    Quantum state - no idea how to implement
-    Superposition - planning
-    Tunnelling - Wormhole inducer
-    Uncertainty - No idea how to implement in-game

[2013-12-23 17:02] hunterboerner commented on #155
@sammko, tell me how you think it'll work and I'll try to code it up.

[2013-12-23 17:04] sammko commented on #155
Well idk yet, and I didnt say i wont code in the future, i enjoy coding, but i just wasnt in the mood.. i feel like i will do more coding after holidays. will see what happens

[2013-12-23 17:22] hunterboerner commented on #155
I know, but I need something to code :). I asked @MrTJP (ProjectRed) about multiparts and I _think_ he will turn the  qwire into one for us.

[2013-12-23 17:23] sammko commented on #155
oh cool

[2013-12-23 18:42] hunterboerner opened #157 "Machines should be harder to break"
Things like the capacitor should NOT break easily because then you would lose power

[2013-12-23 19:04] hunterboerner opened #158 "Hoppers cannot insert to both slots in ION Forge"
They just can't.

[2013-12-23 19:10] #158 closed, assigned to nobody

[2013-12-23 19:18] #157 closed, assigned to nobody

[2013-12-23 19:48] hunterboerner opened #159 "GUI Hover visual bug"
When hovering over the power bar, this happens in NEI. VERY minor and may not be fixable so don't work on this one first :pizza:

![image](https://f.cloud.github.com/assets/1314119/1802826/2636e50c-6c0b-11e3-9eac-e20128886f55.png)

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1961394-gui-hover-visual-bug?utm_campaign=plugin&utm_con

[2013-12-23 20:00] hunterboerner commented on #155
btw, I just figured out you can select text and hit `r` on github to quote it!

[2013-12-23 20:00] sammko commented on #155
also cool

[2013-12-23 21:12] sammko commented on #159
Yeah i know, i noticed that BC has ( or used to have ) this issue too. not sure if they fixed it

[2013-12-23 21:48] hunterboerner commented on #159
Teh gogoles?

[2013-12-23 23:26] hunterboerner commented on #155
Anyone got any ideas? I started steam but I don't think that's the way to go. @540howdy, what's in your brain?

[2013-12-23 23:28] hunterboerner opened #160 "Tool upgrades"
Can I haz moar power in le pick? Currently on a full charge (10000 QEU) it can mine 200 blocks.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1961393-tool-upgrades?utm_campaign=plugin&utm_content=tracker%2F1094508&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign

[2013-12-23 23:55] hunterboerner commented on #154
@sammko, the Quantum Fiber Wire recipes require an excessive amount of crystals and unbioxenium. Should we go for the TE way of things rather than IC2? Have a machine do something to make and have easy recipes?

[2013-12-23 23:59] hunterboerner opened #161 "Quantonium Ore should emit light"
It glows but no light? Logic? Noap? We need some!

[2013-12-24 00:00] hunterboerner opened #162 "Quantum Interdimensional Generator (QIG)"
[code]

**Bug: QIGUtil will not work cross dimensions because it does not check a world var.**

~~Bug: QIGUtil's data is not being saved anywhere. Have each tile register itself when it reads from nbt to fix.~~ Should be fixed in 300c76f11f2153896bcab94eacac37f04851f824

@HeisenBugDev mailing list time!

[2013-12-24 00:18] 540howdy commented on #155
@hunterboerner Oh gosh. I agree with steam not being the right path for this mod.

Can the Quantum Theory even be used for energy? I mean it can in the simplest of terms, but can it be used to describe a very specific instance?

[2013-12-24 00:19] hunterboerner commented on #155
Take a look at #162

[2013-12-24 00:21] hunterboerner opened #163 "Quantum Deenergizer Inefficent"
[code]

THALL SHOU NOT CALL CANPROCESS EVERY TICK! @sammko did you know about this? :crying_cat_face:

[2013-12-24 00:32] hunterboerner opened #164 "Phase-shifting mobs"
When you start doing weird things, things get even weirder. One minute a pig, then a creeper, but when you check to see if you're going crazy, it's a pig...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1961392-phase-shifting-mobs?utm_campaign=plugin&utm_content=tracker%2F1094508&utm_medium=issues&utm_source=github)** We accept bou

[2013-12-24 01:01] 540howdy commented on #155
How about a few different furnaces that each apply a different theory of quantum mechanics?
- Quantum Interdimensional Generator: Applies the Theory of Superposition (Copied from #162)
- Insert Name Here: Applies the Theory of Entanglement: My mind keeps darting back to robots. Heh. It would be cool to have little robots that keep a furnace in a constant state. A furnace that only runs when a robo

[2013-12-24 01:08] 540howdy commented on #155
@hunterboerner I forgot to mention what the furnaces would run on.. I think the crystals from your original idea could still work. However, the crystals would function differently per furnace.

Side Note: These are all ideas, I don't want to impose too much.

[2013-12-24 03:48] LordFokas commented on #155
You could use the uncertainty to make a furnace that operates on the same principle. You can't know if it's done or not before you open the GUI and look. It won't start working until you close the GUI. the more you wait, the higher the chance more items will be done when you look, but while you look, it completely freezes.

So right there, you have the theories of uncertainty and observer effect.

[2013-12-24 03:50] hunterboerner commented on #155
And until we ask @LordFokas if he has any good ideas, we won't know for certain... :P

EDIT: Incorrect. We will know it's one of 4 states which all equal yes in layman's terms.

[2013-12-24 04:13] #163 closed, assigned to nobody

[2013-12-24 04:18] #161 closed, assigned to nobody

[2013-12-24 04:18] hunterboerner commented on #161
![2013-12-23_22 17 52](https://f.cloud.github.com/assets/1314119/1804466/7fdbbbcc-6c52-11e3-9f37-05817cffccd9.png)

[2013-12-24 04:38] hunterboerner commented on #155
Ok, let's begin extracting the features we want to focus on into their own tickets to organize them and track.

My question on that is: Why are we generating power in a furnace? This is power gen!

It couldn't just be "robots" because those would be affected by the states too considering they can't observe it directly (ya know, they're robots). However, if you were somehow to be observing this sai

[2013-12-24 16:32] hunterboerner commented on #155
I was thinking, what about TE3 style side switching on machines?

[2013-12-24 18:21] hunterboerner commented on #125
Starting now

[2013-12-24 18:28] #125 closed, assigned to hunterboerner

[2013-12-24 18:30] hunterboerner commented on #150
Changing to feature because this is not a bug anymore. (I thought it was at first)

[2013-12-24 18:31] hunterboerner commented on #162
~~@HeisenBugDev, does anybody see how we could detect if there is another generator in the chunk efficiently?~~ Look below

[2013-12-24 19:08] hunterboerner commented on #149
Working fine for me, if someone finds the bug again I will re-open.

[2013-12-24 19:08] #149 closed, assigned to nobody

[2013-12-24 19:50] hunterboerner commented on #162
When a block is placed, add it to a static list that is static (ofc) and when removed, do the opposite.

[2013-12-24 20:01] hunterboerner opened #165 "Fancy Cables"
Can we get some pretty in here? Maybe some transparency? A little bit less opaque.

[2013-12-24 20:32] #156 closed, assigned to nobody

[2013-12-25 08:52] sammko commented on #155
Yeah I had that idea too. It would be a PITA to implement. But we could try
what OpenBlocks have cause its opensource and even cooler than TE's
On Dec 24, 2013 5:32 PM, "Theron Boerner" notifications@github.com wrote:

[2013-12-25 17:32] hunterboerner commented on #155
@sammko, it's in here: https://github.com/OpenMods/OpenModsLib/tree/master/src/openmods/gui. Looks like you're going to have fun :+1:

[2013-12-25 19:27] hunterboerner commented on #155
So guys, here's a very early concept image for showing what blocks are scheduled to be broken.
![2013-12-25_13 25 27](https://f.cloud.github.com/assets/1314119/1809014/a4ce8b6e-6d9a-11e3-81c7-fad35aa0655b.png)

[2013-12-25 21:13] hunterboerner commented on #155
BTW, the reason you have to be touching _a_ block is because it's DrawBlockHighlightEvent, so if someone knows of another event that just draws the blocks, then we could use that.

[2013-12-26 18:30] hunterboerner commented on #155
![2013-12-26_12 29 06](https://f.cloud.github.com/assets/1314119/1811601/ab7036a4-6e5b-11e3-83a1-d30fc5fec87e.png)

Look awesome? Warning: The red blocks which is what the tunneler is mining is very laggy so we may want to have that only visible if you are wearing something.

[2013-12-26 21:25] hunterboerner commented on #155
Ok, just noticed that if you break the tunneler, the block thingies won't go away. Trying to fix, not working. This is very laggy anyway so I think I'm going to remove it for now (just disable) because it doesn't look or work good.

[2013-12-26 23:27] hunterboerner commented on #155
@540howdy, try build 366 http://heisenbugdev.com/downloads. @sammko, you may also like the new in world guis. Just put your crosshairs on a machine (ION Scanner is most interesting). What do yer think? :rabbit2:

[2013-12-26 23:30] sammko commented on #155
In-world GUIS? sounds cool! I'm probably gonna go home tomorrow or the day
after so I will check it out then
On Dec 27, 2013 12:27 AM, "Theron Boerner" notifications@github.com wrote:

[2013-12-26 23:37] hunterboerner commented on #155
![2013-12-26_17 35 53](https://f.cloud.github.com/assets/1314119/1812637/9843bb0c-6e86-11e3-91cc-d0982687ce28.png)

Mmmmmm. Look at that screenshot!

[2013-12-26 23:39] sammko commented on #155
Oh that's so cool

[2013-12-26 23:40] hunterboerner commented on #155
Yeah, the idea came from RS485/Logisticspipes which has something like that but it's more of a hidden feature (theirs is MUCH more complex, including buttonz). This is always there rather than being really hard to find.

[2013-12-27 02:10] hunterboerner commented on #155
@540howdy, does the latest build fix this? If you look at the block it gives you info (blocks left...)

Maybe a scanning blue laser coming from it? @sammko gets this one.

Don't have any ideas on a unique way to solve this. Don't think it's really a _problem_

Any more ideas other than the current #162 (QIG)?

BTW @540howdy, I edited your original post to add formatting to it. Visit here if you ne

[2013-12-27 03:09] LordFokas commented on #155
you can limit how much power each power source can emit every tick.

[2013-12-27 13:37] hunterboerner commented on #155
@LordFokas, I don't think that's a good way to handle it. Things like the capacitor **need** to be giving all it's got.

[2013-12-27 15:35] hunterboerner commented on #165
@LordFokas, when you extract the enet code, this will be something you should move along with it. The cables should not be part of each mod, they should be in the lib/core.

[2013-12-27 18:08] hunterboerner commented on #104
@sammko, are we still going with this or is it no "Quantum" enough? If so, can you plan it some more.

[2013-12-27 20:04] #162 closed, assigned to nobody

[2013-12-27 20:06] hunterboerner opened #166 "QIG Texture"
See #162 for what it is.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1961391-qig-texture?utm_campaign=plugin&utm_content=tracker%2F1094508&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F1094508&utm_medium=issues&utm_source=github

[2013-12-27 20:06] hunterboerner commented on #155
Finished the QIG guys.

[2013-12-27 20:09] hunterboerner opened #167 "QIG Recipe"
#162

[2013-12-28 09:58] sammko commented on #164
:D awesome idea.. how would we go about implementing this? I've always wondered how other mods implement stuff like this, cause you need a method that ticks, and you get that only in blocks, TEs and entities. Or is there a way maybe w/ @ForgeSubscribe to make a method get called on a gametick?

[2013-12-28 10:04] sammko commented on #164
Or maybe we add a static bool somewhere, and in updateEntity in BlockMachine we could check for that bool and if its false, the TE will call a method somewhere on every tick and will set the bool to true. When you break the TE it will set the flag to false only if it was set to true by that TE, and then some other TE will start calling it and set the flag to true.   Did that make sense?

[2013-12-28 10:06] sammko commented on #164
That means if you have no QC machines it wont be doing weirdness which is cool, cause there will be nothing causing fluctuations in the quantum field :D

[2013-12-29 20:53] hunterboerner commented on #153
Beginning work on this myself. What am I getting into :worried:

[2013-12-29 21:58] #153 closed, assigned to sammko

[2013-12-29 22:40] hunterboerner commented on #155
Bug with guis:

![2013-12-29_16 40 24](https://f.cloud.github.com/assets/1314119/1820237/d9325144-70db-11e3-84a9-ab8d598a63d0.png)

[2013-12-30 17:02] hunterboerner opened #168 "Update Notifier"
You're running an old version of QuantumCraft! Update now! We've added...

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1961390-update-notifier?utm_campaign=plugin&utm_content=tracker%2F1094508&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=

[2013-12-30 17:20] hunterboerner opened #169 "Move things out of beta"
This is a note for release as I always check issues before I do.

Move these out of beta:

QIG

[2013-12-30 17:25] #167 closed, assigned to sammko

[2013-12-30 17:39] hunterboerner opened #170 "Fiberwire too expensive"
Either make the machines more expensive or the fiber wire less/more return value. When a machine costs less than a cable...

[2014-01-04 13:27] sammko commented on #154
You mean like liquid redstone injection from TE? but customized? like liquid quantonium? that could be awesome

[2014-01-04 15:24] hunterboerner commented on #154
@sammko, let's not do exactly what they do.

[2014-01-04 15:45] sammko commented on #154
Yeah thats true

[2014-01-04 15:49] sammko commented on #138
Fixed in 70647ab5989cd3dff03830711cb95371bb0e4bf6 (ignore the logs in that commit, i removed them)

[2014-01-05 12:25] sammko opened #171 "Time-Space destabilizer"
a machine that can control time using quantum energy but would cause weird stuff to happen. Could cause #164 and maybe some other effects

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1961389-time-space-destabilizer?utm_campaign=plugin&utm_content=tracker%2F1094508&utm_medium=issues&utm_source=github)** We accept bounties via [Boun

[2014-01-05 13:00] sammko opened #172 "Redstone control type NBT saving"
<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1961388-redstone-control-type-nbt-saving?utm_campaign=plugin&utm_content=tracker%2F1094508&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F1094508&utm_medium=issues&utm_source=github).
</

[2014-01-05 14:19] hunterboerner commented on #138
Added a ton of bugs and does not work on all machines. Reverting...

[2014-01-30 17:56] #170 closed, assigned to nobody

[2014-01-30 17:59] hunterboerner commented on #172
This isn't needed until you can actually control the redstone signal #138

[2014-01-30 18:17] #151 closed, assigned to nobody

[2014-01-30 18:23] #169 closed, assigned to hunterboerner

[2014-01-31 23:04] hunterboerner commented on #166
@wtg62, can you get on this?

[2014-02-01 19:23] hunterboerner opened #173 "Debug less spammy"
Only write to file if the message changes.

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1961387-debug-less-spammy?utm_campaign=plugin&utm_content=tracker%2F1094508&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F1094508&utm_medium=

[2014-02-08 15:11] hunterboerner opened #174 "Clean Up Print Calls"
[code]

Instead, use printf or String.format!

[code]

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1961386-clean-up-print-calls?utm_campaign=plugin&utm_content=tracker%2F1094508&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F10945

[2014-02-08 21:01] hunterboerner opened #176 "Test"
test123

[2014-02-08 21:01] #176 closed, assigned to nobody

[2014-02-08 21:05] ghost opened #177 "Needs more issues"
Insert flaws here.

[2014-02-08 21:05] #177 closed, assigned to nobody

[2014-02-26 23:57] #18 closed, assigned to nobody

[2014-02-26 23:57] #70 closed, assigned to nobody

[2014-02-26 23:57] #16 closed, assigned to nobody

[2014-02-26 23:57] #20 closed, assigned to nobody

[2014-02-26 23:58] #152 closed, assigned to nobody

[2014-02-26 23:58] #9 closed, assigned to nobody

[2014-02-26 23:58] #119 closed, assigned to nobody

[2014-02-26 23:58] #165 closed, assigned to nobody

[2014-03-04 18:04] hunterboerner opened #181 "test"
test

[2014-03-04 18:05] #181 closed, assigned to nobody

[2014-03-04 18:05] hunterboerner opened #182 "test"
test

[2014-03-04 18:06] #182 closed, assigned to nobody

[2014-03-04 18:06] byjake opened #183 "-"

[2014-03-04 18:07] hunterboerner commented on #183
nope

[2014-03-04 18:07] #183 closed, assigned to nobody

[2014-03-07 16:34] byjake opened #184 "-"

[2014-03-07 16:35] hunterboerner commented on #184
No it doesn't

[2014-03-07 16:35] #184 closed, assigned to nobody

[2014-03-20 01:51] SmartFractyl opened #186 "Light Particle Based Transport System"
A light particle transport system, similar to build craft except much more flexible and dynamic with sorters and the works

<bountysource-plugin>
---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/1961384-light-particle-based-transport-system?utm_campaign=plugin&utm_content=tracker%2F1094508&utm_medium=issues&utm_source=github)** We accept bounties via [Bount

[2014-03-20 02:04] hunterboerner commented on #186
More details please. This describes very little. Can you spec this out in more detail? I don't need the exact numbers yet but it would be helpful to have more than just "transport system".

[2014-05-02 21:36] hunterboerner commented on #82
+1

[2015-03-29 14:18] #171 closed

[2015-03-29 14:19] #172 closed

[2015-03-29 14:36] hunterboerner commented on #172
Are you resuming development on QC?

[2015-03-29 14:40] sammko commented on #172
no, just my open issues here were bugging me

[2015-06-14 00:08] #82 closed

[2015-06-14 00:08] #83 closed

[2015-06-14 00:08] #104 closed

[2015-06-14 00:08] #131 closed

[2015-06-14 00:08] #138 closed

[2015-06-14 00:08] #145 closed

[2015-06-14 00:08] #146 closed

[2015-06-14 00:08] #150 closed

[2015-06-14 00:08] #154 closed

[2015-06-14 00:08] #155 closed

[2015-06-14 00:08] #159 closed

[2015-06-14 00:08] #160 closed

[2015-06-14 00:08] #164 closed

[2015-06-14 00:08] #166 closed

[2015-06-14 00:08] #168 closed

[2015-06-14 00:08] #173 closed

[2015-06-14 00:08] #174 closed

[2015-06-14 00:08] #186 closed